<%- include('../partials/boilerplate-start') %>
<link rel="stylesheet" href="/css/admin/admin.css">
<%- include('../partials/boilerplate-end') %>
<main>
<%- include('partials/aside') %>
<div class="main-content">
    <h1>Welcome to Dashboard Area</h1>
    <h4>Menage Your sire here...</h4>
</div>
</main>
<%- include('../partials/footer') %>

<script> </script>


