<%- include('../partials/boilerplate-start') %>
<link rel="stylesheet" href="css/learn/learn.css" />
<%- include('../partials/boilerplate-end', {loggedUser}) %> <%- include('../partials/header') %>
<main>
  <h2 class="learning-subject">Language Levels</h2>
  <div class="lang-choices">
    <a href="/learn/A1" class="lang-choice">
      <div>
        <h2>A1</h2>
        <div>
          <h5> 0/0</h5>
          <h4>0%</h4>
        </div>
      </div>
    </a>

    <a href="/learn/A2" class="lang-choice">
      <div>
        <h2>A2</h2>
        <div>
          <h5>0/0</h5>
          <h4>0%</h4>
        </div>
      </div>
    </a>

    <a href="/learn/B1" class="lang-choice">
      <div>
        <h2>B1</h2>
        <div>
          <h5>0/0</h5>
          <h4>0%</h4>
        </div>
      </div>
    </a>

    <a href="/learn/B2" class="lang-choice">
      <div>
        <h2>B2</h2>
        <div>
          <h5>0/0</h5>
          <h4>0%</h4>
        </div>
      </div>
    </a>

    <a href="/learn/C1" class="lang-choice">
      <div>
        <h2>C1</h2>
        <div>
          <h5>0/0</h5>
          <h4>0%</h4>
        </div>
      </div>
    </a>

    <a href="/learn/C2" class="lang-choice">
      <div>
        <h2>C2</h2>
        <div>
          <h5>0/0</h5>
          <h4>0%</h4>
        </div>
      </div>
    </a>
  </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/getProgress.js"></script>
<script src="/javascript/headerMenu.js"></script>

<%- include('../partials/footer') %>
