<%- include('partials/boilerplate-start') %> 
<link rel="stylesheet" href="/css/learn/learn.css" />
<%- include('partials/boilerplate-end', {loggedUser}) %> <%- include('partials/header') %>

<main class="donate">
    <h1>Hi!</h1>
    <h3>If you are willing to support us, here is our bank info:</h3>
    <h4><span>Mbank</span>, 60 1603 1603 1088 2401</h4>
    
    <a href="/learn"><button>Home</button></a>
</main>

<script src="/javascript/headerMenu.js"></script>

<%- include('partials/footer') %>