h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #d6d2d2;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #282E3E;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13141B;
}

::-webkit-scrollbar-thumb {
  background: #282E3E;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363d53;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #13141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3ccfcf;
}

a:hover {
  color: #ffdb5b;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

footer {
  margin-top: 2rem;
}

input {
  font-weight: bold;
}

button:not(.delete):not(.lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete):not(.lesson-button) {
  background-color: #3ccfcf;
  border-color: #3ccfcf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #ffdb5b;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #3ccfcf !important;
  border-color: #3ccfcf !important;
}

button.invert-colors:hover {
  background-color: #ffdb5b !important;
  border-color: #ffdb5b !important;
}

.contact-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2.5rem;
  bottom: 2.5rem;
  background: #1a1d28;
  color: #3ccfcf;
  border-radius: 360px;
  padding: 8px;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 1000;
}

.contact-icon:hover {
  background: #212335;
  cursor: pointer;
}

.contact-info {
  position: fixed;
  right: 9rem;
  bottom: 2.5rem;
  border-radius: 4px;
  padding: 1.5rem;
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  opacity: 0;
  background: #1a1d28;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 100;
}

.contact-info h5 {
  font-size: 1rem;
  color: #ffdb5b;
  min-width: 14rem;
}

.contact-info h6 {
  font-size: 1.1rem;
  color: #f1f1f1;
  margin-bottom: 1.2rem;
  text-align: center;
  min-width: 14rem;
}

.contact-info h6:last-of-type {
  margin-bottom: 0;
}

.contact-info h6 a {
  color: #ffdb5b;
}

h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #d6d2d2;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #282E3E;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13141B;
}

::-webkit-scrollbar-thumb {
  background: #282E3E;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363d53;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #13141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3ccfcf;
}

a:hover {
  color: #ffdb5b;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

footer {
  margin-top: 2rem;
}

input {
  font-weight: bold;
}

button:not(.delete):not(.lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete):not(.lesson-button) {
  background-color: #3ccfcf;
  border-color: #3ccfcf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #ffdb5b;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #3ccfcf !important;
  border-color: #3ccfcf !important;
}

button.invert-colors:hover {
  background-color: #ffdb5b !important;
  border-color: #ffdb5b !important;
}

.contact-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2.5rem;
  bottom: 2.5rem;
  background: #1a1d28;
  color: #3ccfcf;
  border-radius: 360px;
  padding: 8px;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 1000;
}

.contact-icon:hover {
  background: #212335;
  cursor: pointer;
}

.contact-info {
  position: fixed;
  right: 9rem;
  bottom: 2.5rem;
  border-radius: 4px;
  padding: 1.5rem;
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  opacity: 0;
  background: #1a1d28;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 100;
}

.contact-info h5 {
  font-size: 1rem;
  color: #ffdb5b;
  min-width: 14rem;
}

.contact-info h6 {
  font-size: 1.1rem;
  color: #f1f1f1;
  margin-bottom: 1.2rem;
  text-align: center;
  min-width: 14rem;
}

.contact-info h6:last-of-type {
  margin-bottom: 0;
}

.contact-info h6 a {
  color: #ffdb5b;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
  opacity: 0;
}

header {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0;
  margin-bottom: 2rem;
}

header .logo__brand:hover {
  color: #ffdb5b;
}

header #hamburger-icon {
  cursor: pointer;
}

header .lang-menu {
  position: absolute;
  -webkit-transform: translate(-136px, 130px);
          transform: translate(-136px, 130px);
  background: #353638;
  padding: 0.8rem;
  border-radius: 10px;
  width: 150px;
  display: none;
  opacity: 0;
}

header .lang-menu__option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

header .lang-menu__option:last-of-type {
  margin-bottom: 0;
}

header .lang-menu__option h6 {
  color: #f1f1f1;
}

header .lang-menu__option h6:hover {
  color: #d6d2d2;
}

header .lang-menu__option__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: none;
  height: 0px;
  opacity: 0;
  margin: 0.35rem 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown a {
  padding: 0.35rem 0 0.35rem 0.8rem;
  font-weight: bold;
  display: inline;
  width: 10px;
  color: #ffdb5b;
}

header .lang-menu__option__dropdown a:hover {
  color: #3ccfcf;
}

header .lang-menu__option__dropdown-icon {
  width: 1rem;
  height: 1rem;
  color: #f1f1f1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown-icon:hover {
  color: #d6d2d2;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a[href="/donate"] {
  padding: 0.35rem 1rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

header nav a[href="/donate"]:hover {
  background: #3ccfcf;
  border-color: #3ccfcf;
}

header nav a {
  margin: 0 1rem;
}

header nav a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #f1f1f1;
}

header nav a:hover {
  cursor: pointer;
}

header nav a:hover svg {
  color: #3ccfcf;
}

header .notifications {
  margin-top: 2rem;
  position: fixed;
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  padding: 0.8rem;
  background: #282E3E;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 4px;
}

header .notifications h6 {
  text-align: center;
}

header .notifications h2 {
  text-align: center;
  margin-bottom: 1rem;
}

header .notifications .notification {
  margin-bottom: 1.6rem;
  background: #282E3E;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 4px;
  position: relative;
}

header .notifications .notification:last-of-type {
  margin-bottom: 0;
}

header .notifications .notification h3 {
  margin-bottom: 0.2rem;
}

header .notifications .notification button.delete {
  margin: 0;
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: none;
}

header .notifications .notification button.delete:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

header .notifications .notification button.delete svg {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.25rem;
  background: #f1f1f1;
  fill: #282E3E;
  border-radius: 10px;
}

header .user-menu {
  position: absolute;
  -webkit-transform: translate(100px, 110px);
          transform: translate(100px, 110px);
  background: #1a1b2b;
  padding: 0.8rem;
  border-radius: 10px;
  width: 180px;
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 200;
}

header .user-menu a {
  font-size: 1.05rem;
  color: #f1f1f1;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

header .user-menu a:hover {
  cursor: pointer;
}

header .user-menu a:hover svg {
  color: #3ccfcf;
}

header .user-menu a:first-of-type {
  margin-top: 0;
}

header .user-menu svg {
  width: 1.2rem;
  height: 1.2rem;
  color: #ffdb5b;
  margin-right: 0.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .user-menu svg:hover {
  color: #d6d2d2;
  cursor: pointer;
}

@media (max-width: 700px) {
  header nav a[href="/donate"] {
    display: none;
  }
  header .user-menu {
    -webkit-transform: translate(-85px, 100px);
            transform: translate(-85px, 100px);
  }
}

.lightmode {
  background-color: #f6f7fb;
}

.lightmode .lang-choices .lang-choice,
.lightmode .recommendations .lang-choice,
.lightmode .latest-activity .lang-choice {
  color: #303545;
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover,
.lightmode .recommendations .lang-choice:hover,
.lightmode .latest-activity .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice h5,
.lightmode .recommendations .lang-choice h5,
.lightmode .latest-activity .lang-choice h5 {
  color: #303545;
}

.lightmode .lang-choices .lang-choice.learn-choice svg,
.lightmode .recommendations .lang-choice.learn-choice svg,
.lightmode .latest-activity .lang-choice.learn-choice svg {
  color: #E8E8EE;
}

.lightmode .recommendations .recommendation,
.lightmode .recommendations .latest-activity-record,
.lightmode .latest-activity .recommendation,
.lightmode .latest-activity .latest-activity-record {
  color: #303545;
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .recommendations .recommendation:hover,
.lightmode .recommendations .latest-activity-record:hover,
.lightmode .latest-activity .recommendation:hover,
.lightmode .latest-activity .latest-activity-record:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .recommendations .recommendation div h5,
.lightmode .recommendations .latest-activity-record div h5,
.lightmode .latest-activity .recommendation div h5,
.lightmode .latest-activity .latest-activity-record div h5 {
  color: #303545;
}

.lightmode .questions h4 {
  color: #303545;
}

.lightmode button.flashcard-button {
  color: #fff;
}

.lightmode .flashcards .flashcard {
  background: #ffffff;
}

.lightmode .flashcards .flashcard input {
  color: #303545;
  border-color: #303545;
}

.lightmode .flashcards .flashcard input:focus {
  border-color: #938da6;
}

.lightmode button {
  color: #ffffff;
}

.lightmode .logo__icon {
  color: #303545;
}

.lightmode .logo__brand {
  color: #303545;
}

.lightmode h1 {
  color: #303545;
}

.lightmode h2 {
  color: #303545;
}

.lightmode h3 {
  color: #303545;
}

.lightmode h4,
.lightmode h5,
.lightmode h6 {
  color: #938da6;
}

.lightmode label {
  color: #303545;
}

.lightmode input,
.lightmode textarea {
  color: #ffffff;
}

.lightmode p {
  color: #353535;
}

.lightmode header .lang-menu {
  background: #e0e0e0;
}

.lightmode header a[href="/donate"] {
  color: #fff;
}

.lightmode header nav > a svg {
  color: #303545;
}

.lightmode header nav > a:hover svg {
  color: #3ccfcf;
}

.lightmode header .user-menu {
  background: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  border-color: #f6f7fb;
}

.lightmode header .user-menu a {
  color: #303545;
}

.lightmode header .user-menu svg:hover {
  color: #938da6;
}

.lightmode .lang-choices .lang-choice {
  color: #303545;
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #303545;
}

.lightmode .notifications {
  background: #ffffff;
}

.lightmode .notifications .notification {
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .notifications .notification button.delete svg {
  background: #303545;
  fill: #d71c38;
}

.lightmode .user-badges .user-badge svg + p {
  background: #ffffff;
}

.lightmode .user-badges .user-badge.not-acquired svg {
  color: #505357;
}

.lightmode .user-badges .search-form select {
  background: #303545;
  color: #f6f7fb;
}

.lightmode .user-darker-dark-color {
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #303545;
}

.lightmode .user-test {
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #303545;
}

.lightmode .user-test h5 {
  color: #ffdb5b;
}

.lightmode .example-flashcards,
.lightmode .example-test,
.lightmode .donating-box {
  background: #e8e8ee;
}

.lightmode .example-flashcards span,
.lightmode .example-test span,
.lightmode .donating-box span {
  color: #ffdb5b;
}

.lightmode .example-flashcards svg,
.lightmode .example-test svg,
.lightmode .donating-box svg {
  color: #F6F7FB;
}

.lightmode .example-flashcards button,
.lightmode .example-test button,
.lightmode .donating-box button {
  color: #ffffff;
}

.lightmode .contact-icon {
  border: 2px solid rgba(18, 20, 27, 0.6);
  background: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  border-color: #f6f7fb;
}

.lightmode .contact-icon:hover {
  background: #f0f1f5;
  border-color: #f0f1f5;
}

.lightmode .contact-info {
  border: 2px solid rgba(18, 20, 27, 0.6);
  background: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  border-color: #f6f7fb;
}

.lightmode .contact-info h5 {
  color: #ffdb5b;
}

.lightmode .contact-info h6 {
  color: #303545;
}

.lightmode .contact-info h6 a {
  color: #ffdb5b;
}

.lightmode .test-info {
  color: #303545;
}

.lightmode .test-end h4 span:first-of-type {
  color: #505357;
}

.lightmode main.user-settings form {
  background: #FFFFFF;
}

.lightmode main.user-settings form input {
  background: #EDEDF3;
  border-color: #F6F7FB;
  -webkit-box-shadow: #FFFFFF 0px 5px 3px;
          box-shadow: #FFFFFF 0px 5px 3px;
  color: #938da6;
}

.lightmode main.user-settings form input:focus {
  -webkit-box-shadow: #FFFFFF 0px 10px 3px;
          box-shadow: #FFFFFF 0px 10px 3px;
  color: #938da6;
}

.lightmode main.user-settings form .confirmation {
  background: #FFFFFF;
}

.lightmode main.user-settings form .confirmation h3 {
  color: #303545;
}

.lightmode .practice-questions button {
  color: #fff;
}

a {
  color: inital;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.lang-choices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
  margin: 0 0 4rem;
}

.lang-choices h2 {
  margin-top: 0.4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.lang-choices a[href="/learn/A2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.lang-choices a[href="/learn/B2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.lang-choices a[href="/learn/C2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.lang-choices .lang-choice {
  color: #f1f1f1;
  background: #282E3E;
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 120px;
}

.lang-choices .lang-choice:hover {
  -webkit-box-shadow: #3ccfcf 0px 5px 0px;
          box-shadow: #3ccfcf 0px 5px 0px;
}

.lang-choices .lang-choice.learn-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.lang-choices .lang-choice.learn-choice h2 {
  z-index: 2;
}

.lang-choices .lang-choice.learn-choice svg {
  position: absolute;
  width: 8rem;
  top: 10px;
  right: -10px;
  justify-self: flex-end;
  color: #1a1d28;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  z-index: 1;
}

.lang-choices .lang-choice.learn-choice svg.fa-trophy {
  width: 7.8rem;
  top: 20px;
  right: -30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.lang-choices .lang-choice.learn-choice svg.fa-vial {
  width: 8rem;
  top: 10px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.lang-choices .lang-choice.learn-choice svg.fa-file-alt {
  width: 6rem;
  top: 10px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.lang-choices .lang-choice.learn-choice svg.fa-clipboard {
  width: 6rem;
  top: 10px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.lang-choices .lang-choice.learn-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-choices .lang-choice.lesson-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lang-choices .lang-choice.lesson-choice div h5.not-finished {
  color: #d71c38;
}

.lang-choices .lang-choice.lesson-choice div h5.finished {
  color: #88c03d;
}

.lang-choices .lang-choice h2 {
  font-size: 1.6rem;
}

.lang-choices .lang-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.lang-choices .lang-choice div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lang-choices .lang-choice div h4 {
  font-size: 1.3rem;
  color: #ffdb5b;
  margin-left: 1rem;
}

.lang-choices .lang-choice div h5 {
  font-size: 1.3rem;
  color: #f1f1f1;
}

.section-heading {
  font-size: 1.5rem;
}

.section-heading + h4 {
  margin-top: 1rem;
}

.latest-activity,
.recommendations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
  height: 100%;
  margin: 0 0 4rem;
}

.latest-activity h4,
.recommendations h4 {
  margin-top: 0.4rem;
}

.latest-activity .latest-activity-record,
.latest-activity .recommendation,
.recommendations .latest-activity-record,
.recommendations .recommendation {
  min-height: 120px;
  border-radius: 4px;
  background: #282E3E;
  margin: 1rem 0;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.latest-activity .latest-activity-record:hover,
.latest-activity .recommendation:hover,
.recommendations .latest-activity-record:hover,
.recommendations .recommendation:hover {
  -webkit-box-shadow: #3ccfcf 0px 5px 0px;
          box-shadow: #3ccfcf 0px 5px 0px;
}

.latest-activity .latest-activity-record h2,
.latest-activity .recommendation h2,
.recommendations .latest-activity-record h2,
.recommendations .recommendation h2 {
  font-size: 1.6rem;
}

.latest-activity .latest-activity-record h4,
.latest-activity .recommendation h4,
.recommendations .latest-activity-record h4,
.recommendations .recommendation h4 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #ffdb5b;
  font-size: 1.3rem;
}

.recommendations {
  margin-bottom: 0;
}

.learning-subject {
  color: #ffdb5b;
  font-size: 1.5rem;
}

.learning-subject span {
  color: #3ccfcf;
}

.lesson-study {
  margin: 1.6rem 0;
}

.lesson-study p {
  margin: 1.6rem 0;
}

.progress-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-form__heading, .progress-form__heading--done, .progress-form__heading--not-done {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.progress-form__heading--done {
  color: #88c03d;
}

.progress-form__heading--not-done {
  color: #d71c38;
}

.progress-form button {
  background: none;
}

.progress-form button svg {
  width: 2rem;
}

.progress-form button svg:hover, .progress-form button svg:focus {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  background: none;
}

.progress-form button svg.done {
  color: #88c03d;
}

.progress-form button svg.not-done {
  color: #d71c38;
}

.example-flashcards,
.example-test {
  background: #1a1d28;
  border-radius: 4px;
  width: 100%;
  min-height: 12rem;
  margin: 0 0 4rem;
  padding: 2rem 20rem 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.example-flashcards span,
.example-test span {
  color: #ffdb5b;
}

.example-flashcards a,
.example-test a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.example-flashcards a button,
.example-test a button {
  margin-top: 1.6rem !important;
}

.example-flashcards h2,
.example-flashcards button, .example-flashcards a,
.example-test h2,
.example-test button,
.example-test a {
  z-index: 2;
}

.example-flashcards svg,
.example-test svg {
  position: absolute;
  width: 15rem;
  top: 10px;
  right: -10px;
  justify-self: flex-end;
  color: #282E3E;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  z-index: 1;
}

.example-test svg {
  top: 10px;
  right: 20px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1;
}

.questions {
  margin: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.questions h4 {
  color: #f1f1f1;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.questions label {
  font-size: 1.1rem;
}

.questions h6 {
  margin-bottom: 0.4rem;
  font-weight: bold;
  font-size: 1rem;
}

.questions .question-group {
  margin-bottom: 2rem;
}

.questions .question-group:last-of-type {
  margin-bottom: 0;
}

.questions .question-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.questions .question-form div {
  padding-bottom: 0.4rem;
}

.questions .question-form div:last-of-type {
  margin-bottom: 0;
}

.questions .question-form p {
  margin-top: 0.4rem;
  display: none;
}

.questions .question-form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.questions .question-form + a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.practice-questions .question-form {
  margin-bottom: 1.6rem;
}

.practice-questions a {
  font-weight: bold;
}

main.test-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.test-start h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main.test-start h4 {
  color: #f1f1f1;
}

main.test-start h1 {
  color: #d71c38;
}

.test-info {
  margin-top: 0.4rem;
}

#summarize-form {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#summarize-form button {
  margin-top: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main.test-end {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.test-end h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main.test-end h3 {
  font-size: 2rem;
  margin: 1.6rem 0;
}

main.test-end h3 span {
  color: #ffdb5b;
}

main.test-end h4 {
  text-align: center;
}

main.test-end h4 span {
  font-size: 4rem;
}

main.test-end h4 span:first-of-type {
  color: #f1f1f1;
}

main.test-end h4 span:last-of-type {
  color: #88c03d;
}

.flashcard-sets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.no-flashcards-warning {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0.4rem;
}

.flashcard-button,
.flashcard-next {
  display: none;
  cursor: pointer;
}

.flashcard-button:first-of-type,
.flashcard-next:first-of-type {
  display: block;
}

.flashcard-correct-translation {
  font-size: 1.3rem;
}

.flashcard-correct-translation.correct span {
  color: #88c03d;
}

.flashcard-correct-translation.wrong span {
  color: #d71c38;
}

.flashcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  display: none;
}

.flashcards:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flashcards .flashcard {
  margin: 1.6rem 0;
  background: #282E3E;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flashcards .flashcard h3 {
  font-size: 1.3rem;
}

.flashcards .flashcard input {
  margin-top: 0;
  padding: 0.5rem 0;
  width: 13rem;
  font-size: 1.2rem;
  border-bottom: 3px solid white;
  background: none;
  font-weight: bold;
  border-radius: 0;
  color: #f1f1f1;
}

.flashcards .flashcard input:focus {
  border-color: #d6d2d2;
}

.donate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate h1 {
  color: #ffdb5b;
  font-size: 1.8rem;
}

.donate h3 {
  margin: 0.4rem 0 0;
  font-size: 1.1rem;
}

.donate h4 {
  color: #3ccfcf;
  font-size: 1.5rem;
  margin: 1.6rem 0;
}

.donate h4 span {
  color: #ffdb5b;
}

.donate a {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .lang-choices {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lang-choices a[href="/learn/A2"] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .lang-choices a[href="/learn/B2"] {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .lang-choices a[href="/learn/C2"] {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .recommendations, .latest-activity {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .flashcards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flashcards .flashcard {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 700px) {
  header nav a[href="/donate"] {
    display: none;
  }
  header .user-menu {
    -webkit-transform: translate(-85px, 100px);
            transform: translate(-85px, 100px);
  }
  .example-test, .example-flashcards {
    padding: 2rem 1.5rem;
  }
  .example-test svg, .example-flashcards svg {
    position: absolute;
  }
  .example-test svg.fa-graduation-cap, .example-flashcards svg.fa-graduation-cap {
    width: 14rem;
    right: -20px;
  }
}
/*# sourceMappingURL=learn.css.map */