@import "../global/variables", "../global/defaults", "../partials/header", "../global/lightmode";

a {
  color: inital;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.lang-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 100%;
  margin: 0 0 $big-margin * 2;

  h2 {
    margin-top: $tiny-margin;
    grid-column: 1/4;
  }

  a[href="/learn/A2"] {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  a[href="/learn/B2"] {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  a[href="/learn/C2"] {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .lang-choice {
    color: $lighter-light-color;
    background: $lighter-dark-color;
    width: 100%;
    margin: $small-margin 0;
    padding: $small-padding $medium-padding;
    border-radius: $default-border-radius;
    font-weight: bold;
    font-size: 1.5rem;
    min-height: 120px;

    &:hover {
      box-shadow: $secondary-color 0px 5px 0px;
    }

    &.learn-choice {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;

      h2 {
        z-index: 2;
      }

      svg {
        position: absolute;
        width: 8rem;
        top: 10px;
        right: -10px;
        justify-self: flex-end;
        color: $semi-dark-color;
        transform: rotate(10deg);
        z-index: 1;

        &.fa-trophy {
          width: 7.8rem;
          top: 20px;
          right: -30px;
          transform: rotate(15deg);
        }

        &.fa-vial {
          width: 8rem;
          top: 10px;
          transform: rotate(-30deg);
        }

        &.fa-file-alt {
          width: 6rem;
          top: 10px;
          transform: rotate(-10deg);
        }

        &.fa-clipboard {
          width: 6rem;
          top: 10px;
          transform: rotate(10deg);
        }
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.lesson-choice {
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h5.not-finished {
          color: #d71c38;
        }

        h5.finished {
          color: #88c03d;
        }
      }
    }

    h2 {
      font-size: 1.6rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      div {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }

      h4 {
        font-size: 1.3rem;
        color: $base-color;
        margin-left: $small-margin;
      }

      h5 {
        font-size: 1.3rem;
        color: $lighter-light-color;
      }
    }
  }
}

.section-heading {
  font-size: 1.5rem;

  & + h4 {
    margin-top: $small-margin;
  }
}

.latest-activity,
.recommendations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 100%;
  height: 100%;
  margin: 0 0 $big-margin * 2;

  h4 {
    margin-top: $tiny-margin;
  }

  .latest-activity-record,
  .recommendation {
    min-height: 120px;
    border-radius: $default-border-radius;
    background: $lighter-dark-color;
    margin: $small-margin 0;
    padding: $small-padding $medium-padding;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 50%;

    &:hover {
      box-shadow: $secondary-color 0px 5px 0px;
    }

    h2 {
      font-size: 1.6rem;
    }

    h4 {
      height: 100%;
      display: flex;
      align-items: flex-end;
      color: $base-color;
      font-size: 1.3rem;
    }
  }
}

.recommendations {
  margin-bottom: 0;
}

.learning-subject {
  color: $base-color;
  font-size: 1.5rem;

  span {
    color: $secondary-color;
  }
}

.lesson-study {
  margin: $medium-margin 0;
  p {
    margin: $medium-margin 0;
  }
}

.progress-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: 1.4rem;
    margin-bottom: $tiny-margin;

    &--done {
      @extend .progress-form__heading;
      color: #88c03d;
    }

    &--not-done {
      @extend .progress-form__heading;
      color: #d71c38;
    }
  }

  button {
    background: none;

    svg {
      width: 2rem;

      &:hover,
      &:focus {
        transform: rotate(15deg);
        background: none;
      }
    }

    svg.done {
      color: #88c03d;
    }

    svg.not-done {
      color: #d71c38;
    }
  }
}

.example-flashcards,
.example-test {
  background: $semi-dark-color;
  border-radius: $default-border-radius;
  width: 100%;
  min-height: 12rem;
  margin: 0 0 $big-margin * 2;
  padding: $big-padding 20rem $big-padding $medium-padding;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  span {
    color: $base-color;
  }

  a {
    align-self: flex-start;

    button {
      margin-top: $medium-margin !important;
    }
  }

  h2,
  button, a {
    z-index: 2;
  }

  svg {
    position: absolute;
    width: 15rem;
    top: 10px;
    right: -10px;
    justify-self: flex-end;
    color: $lighter-dark-color;
    transform: rotate(10deg);
    z-index: 1;
  }
}

.example-test {
  svg {
    top: 10px;
    right: 20px;
    transform: rotate(-10deg);
    z-index: 1;
  }
}

.questions {
  margin: $medium-margin 0;
  display: flex;
  flex-direction: column;
  align-self: center;

  h4 {
    color: $lighter-light-color;
    margin-bottom: $small-margin;
    font-size: 1.2rem;
  }

  label {
    font-size: 1.1rem;
  }

  h6 {
    margin-bottom: $tiny-margin;
    font-weight: bold;
    font-size: 1rem;
  }

  .question-group {
    margin-bottom: $big-margin;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .question-form {
    display: flex;
    flex-direction: column;
    width: 300px;

    div {
      padding-bottom: $tiny-margin;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p {
      margin-top: $tiny-margin;
      display: none;
    }

    button {
      align-self: center;
    }

    + a {
      align-self: center;
    }
  }
}

.practice-questions {
  .question-form {
    margin-bottom: $medium-margin;
  }

  a {
    font-weight: bold;
  }
}

main.test-start {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    align-self: flex-start;
  }

  h4 {
    color: $lighter-light-color;
  }

  h1 {
    color: #d71c38;
  }
}

.test-info {
  margin-top: $tiny-margin;
}

#summarize-form {
  display: none;
  align-self: center;
}

#summarize-form button {
  margin-top: 0;
  align-self: center;
}

main.test-end {
  align-items: center;

  h2 {
    align-self: flex-start;
  }

  h3 {
    font-size: 2rem;
    margin: $medium-margin 0;

    span {
      color: $base-color;
    }
  }

  h4 {
    text-align: center;

    span {
      font-size: 4rem;

      &:first-of-type {
        color: $lighter-light-color;
      }

      &:last-of-type {
        color: #88c03d;
      }
    }
  }
}

.flashcard-sets {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.no-flashcards-warning {
  align-self: flex-start;
  margin-top: $tiny-margin;
}

.flashcard-button,
.flashcard-next {
  display: none;
  cursor: pointer;

  &:first-of-type {
    display: block;
  }
}

.flashcard-correct-translation {
  font-size: 1.3rem;

  &.correct {
    span {
      color: #88c03d;
    }
  }

  &.wrong {
    span {
      color: #d71c38;
    }
  }
}

.flashcards {
  display: flex;
  justify-content: space-between;
  width: 700px;
  display: none;

  &:first-of-type {
    display: flex;
  }

  .flashcard {
    margin: $medium-margin 0;
    background: $lighter-dark-color;
    padding: $medium-padding;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 1.3rem;
    }

    input {
      margin-top: 0;
      padding: $tiny-padding 0;
      width: 13rem;
      font-size: 1.2rem;
      border-bottom: 3px solid white;
      background: none;
      font-weight: bold;
      border-radius: 0;
      color: $lighter-light-color;

      &:focus {
        border-color: $darker-light-color;
      }
    }
  }
}

.donate {
  align-items: center;

  h1 {
    color: $base-color;
    font-size: 1.8rem;
  }

  h3 {
    margin: $tiny-margin 0 0;
    font-size: 1.1rem;
  }

  h4 {
    color: $secondary-color;
    font-size: 1.5rem;
    margin: $medium-margin 0;

    span {
      color: $base-color;
    }
  }

  a {
    margin-top: $small-margin;
  }
}


@media (max-width: 900px) {
  .lang-choices {
    grid-template-columns: 1fr 1fr;

    a[href="/learn/A2"] {
      grid-row: 1/2;
      grid-column: 2/3;
    }
  
    a[href="/learn/B2"] {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  
    a[href="/learn/C2"] {
      grid-row: 3/4;
      grid-column: 2/3;
    }
  }

  .recommendations, .latest-activity {
    grid-template-columns: 1fr 1fr;
  }

  .flashcards {
    flex-direction: column;
    
    .flashcard {
      align-self: center;
    }
  }
}

@media (max-width: 700px) {
  header nav a[href='/donate'] {
    display: none;
  }

  header .user-menu {
    transform: translate(-85px, 100px);
  }

  .example-test, .example-flashcards {
    padding: $big-padding $medium-padding;

    svg {
      position: absolute;
      &.fa-graduation-cap {
        width: 14rem;
        right: -20px;
      }
    }
  }
}