h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #c9c1c1;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #3b3e42;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #21252C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #36687C;
}

a:hover {
  color: #dfab00;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 10px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

input {
  font-weight: bold;
}

button:not(.delete):not(.lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #dfab00;
  color: #f1f1f1;
  border: 3px solid #dfab00;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete):not(.lesson-button) {
  background-color: #36687C;
  border-color: #36687C;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #dfab00;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #36687C !important;
  border-color: #36687C !important;
}

button.invert-colors:hover {
  background-color: #dfab00 !important;
  border-color: #dfab00 !important;
}

h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #c9c1c1;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #3b3e42;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #21252C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #36687C;
}

a:hover {
  color: #dfab00;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 10px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

input {
  font-weight: bold;
}

button:not(.delete):not(.lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #dfab00;
  color: #f1f1f1;
  border: 3px solid #dfab00;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete):not(.lesson-button) {
  background-color: #36687C;
  border-color: #36687C;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #dfab00;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #36687C !important;
  border-color: #36687C !important;
}

button.invert-colors:hover {
  background-color: #dfab00 !important;
  border-color: #dfab00 !important;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
  opacity: 0;
}

header {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0;
  margin-bottom: 2rem;
}

header .logo__brand:hover {
  color: #dfab00;
}

header #hamburger-icon {
  cursor: pointer;
}

header .lang-menu {
  position: absolute;
  -webkit-transform: translate(-136px, 130px);
          transform: translate(-136px, 130px);
  background: #353638;
  padding: 0.8rem;
  border-radius: 10px;
  width: 150px;
  display: none;
  opacity: 0;
}

header .lang-menu__option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

header .lang-menu__option:last-of-type {
  margin-bottom: 0;
}

header .lang-menu__option h6 {
  color: #f1f1f1;
}

header .lang-menu__option h6:hover {
  color: #c9c1c1;
}

header .lang-menu__option__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: none;
  height: 0px;
  opacity: 0;
  margin: 0.35rem 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown a {
  padding: 0.35rem 0 0.35rem 0.8rem;
  font-weight: bold;
  display: inline;
  width: 10px;
  color: #dfab00;
}

header .lang-menu__option__dropdown a:hover {
  color: #36687C;
}

header .lang-menu__option__dropdown-icon {
  width: 1rem;
  height: 1rem;
  color: #f1f1f1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown-icon:hover {
  color: #c9c1c1;
  cursor: pointer;
}

header nav > {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav > a {
  margin: 0 1rem;
}

header nav > a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #f1f1f1;
}

header nav > a:first-of-type svg {
  margin-bottom: -3px;
  width: 1.6rem;
  height: 1.6rem;
}

header nav > a:hover {
  cursor: pointer;
}

header nav > a:hover svg {
  color: #36687C;
}

header .notifications {
  margin-top: 2rem;
  position: fixed;
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 0.8rem;
  background: #353638;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1000;
}

header .notifications h6 {
  text-align: center;
}

header .notifications h2 {
  text-align: center;
  margin-bottom: 1rem;
}

header .notifications .notification {
  margin-bottom: 1.6rem;
  background: #3b3e42;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 10px;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  position: relative;
}

header .notifications .notification:last-of-type {
  margin-bottom: 0;
}

header .notifications .notification h3 {
  margin-bottom: 0.2rem;
}

header .notifications .notification button.delete {
  margin: 0;
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: none;
}

header .notifications .notification button.delete:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

header .notifications .notification button.delete svg {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.25rem;
  background: #f1f1f1;
  fill: #D71C38;
  border-radius: 10px;
}

header .user-menu {
  position: absolute;
  -webkit-transform: translate(-110px, 10px);
          transform: translate(-110px, 10px);
  background: #353638;
  padding: 0.8rem;
  border-radius: 10px;
  width: 180px;
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .user-menu a {
  font-size: 1.05rem;
  color: #f1f1f1;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

header .user-menu a:hover {
  cursor: pointer;
}

header .user-menu a:hover svg {
  color: #36687C;
}

header .user-menu a:first-of-type {
  margin-top: 0;
}

header .user-menu svg {
  width: 1.2rem;
  height: 1.2rem;
  color: #dfab00;
  margin-right: 0.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .user-menu svg:hover {
  color: #c9c1c1;
  cursor: pointer;
}

.lightmode {
  background-color: #f1f1f1;
}

.lightmode .lang-choices .lang-choice {
  color: #21252C;
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #21252C;
}

.lightmode .questions h4 {
  color: #21252C;
}

.lightmode .flashcards .flashcard {
  background: #d4d4d4;
}

.lightmode .flashcards .flashcard input {
  color: #21252C;
}

.lightmode .flashcards .flashcard input:focus {
  border-color: #3b3e42;
}

.lightmode button {
  color: #d4d4d4;
}

.lightmode .logo__icon {
  color: #21252C;
}

.lightmode .logo__brand {
  color: #21252C;
}

.lightmode h1 {
  color: #21252C;
}

.lightmode h2 {
  color: #21252C;
}

.lightmode h3 {
  color: #21252C;
}

.lightmode h4,
.lightmode h5,
.lightmode h6 {
  color: #3b3e42;
}

.lightmode label {
  color: #21252C;
}

.lightmode input,
.lightmode textarea {
  color: #d4d4d4;
}

.lightmode p {
  color: #353535;
}

.lightmode header .lang-menu {
  background: #e0e0e0;
}

.lightmode header .lang-menu__option h6 {
  color: #21252C;
}

.lightmode header .lang-menu__option h6:hover {
  color: #3b3e42;
}

.lightmode header .lang-menu__option__dropdown-icon {
  color: #21252C;
}

.lightmode header .lang-menu__option__dropdown-icon:hover {
  color: #3b3e42;
}

.lightmode header nav > a svg {
  color: #21252C;
}

.lightmode header nav > a:hover svg {
  color: #36687C;
}

.lightmode header .user-menu {
  background: #e0e0e0;
}

.lightmode header .user-menu a {
  color: #21252C;
}

.lightmode header .user-menu svg:hover {
  color: #3b3e42;
}

.lightmode .lang-choices .lang-choice {
  color: #21252C;
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #21252C;
}

.lightmode .notifications {
  background: #e0e0e0;
}

.lightmode .notifications .notification {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .notifications .notification button.delete svg {
  background: #21252C;
  fill: #D71C38;
}

.lightmode .user-badges .user-badge svg + p {
  background: #d4d4d4;
}

.lightmode .user-badges .user-badge.not-acquired svg {
  color: #505357;
}

.lightmode .user-badges .search-form select {
  background: #21252C;
  color: #f1f1f1;
}

.lightmode .user-darker-dark-color {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #21252C;
}

.lightmode .user-test {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #21252C;
}

.lightmode .user-test h5 {
  color: #dfab00;
}

a {
  color: inital;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.lang-choices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  max-width: 1000px;
  width: 100%;
}

.lang-choices h2 {
  text-align: center;
}

.lang-choices a[href="/learn/A2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.lang-choices a[href="/learn/B2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.lang-choices a[href="/learn/C2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.lang-choices .lang-choice {
  color: #f1f1f1;
  background: #3b3e42;
  width: 100%;
  margin: 1.6rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 120px;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lang-choices .lang-choice.learn-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-choices .lang-choice.learn-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-choices .lang-choice.featured {
  margin-top: 1.6rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.lang-choices .lang-choice.lesson-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lang-choices .lang-choice.lesson-choice div h5.not-finished {
  color: #d71c38;
}

.lang-choices .lang-choice.lesson-choice div h5.finished {
  color: #88c03d;
}

.lang-choices .lang-choice h2 {
  font-size: 1.8rem;
}

.lang-choices .lang-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.lang-choices .lang-choice div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lang-choices .lang-choice div h4 {
  font-size: 1.5rem;
  color: #dfab00;
  margin-left: 1rem;
}

.lang-choices .lang-choice div h5 {
  font-size: 1.5rem;
  color: #f1f1f1;
}

.section-heading {
  margin-top: 4rem;
  font-size: 1.6rem;
}

.section-heading + h4 {
  margin-top: 1rem;
}

.latest-activity, .recommendations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  max-width: 800px;
  width: 100%;
  height: 100%;
}

.latest-activity .latest-activity-record, .latest-activity .recommendation, .recommendations .latest-activity-record, .recommendations .recommendation {
  min-height: 120px;
  border-radius: 10px;
  background: #3b3e42;
  margin: 1.6rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  height: 50%;
}

.latest-activity .latest-activity-record:hover, .latest-activity .recommendation:hover, .recommendations .latest-activity-record:hover, .recommendations .recommendation:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.latest-activity .latest-activity-record h2, .latest-activity .recommendation h2, .recommendations .latest-activity-record h2, .recommendations .recommendation h2 {
  font-size: 1.8rem;
}

.latest-activity .latest-activity-record h4, .latest-activity .recommendation h4, .recommendations .latest-activity-record h4, .recommendations .recommendation h4 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #dfab00;
  font-size: 1.2rem;
}

.learning-subject {
  color: #dfab00;
  font-size: 2rem;
  text-align: center;
}

.learning-subject span {
  color: #36687C;
}

.lesson-study {
  max-width: 1600px;
}

.lesson-study p {
  margin: 1.6rem 0;
}

.progress-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-form__heading, .progress-form__heading--done, .progress-form__heading--not-done {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.progress-form__heading--done {
  color: #88c03d;
}

.progress-form__heading--not-done {
  color: #d71c38;
}

.progress-form button {
  background: none;
}

.progress-form button svg {
  width: 2rem;
}

.progress-form button svg:hover, .progress-form button svg:focus {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  background: none;
}

.progress-form button svg.done {
  color: #88c03d;
}

.progress-form button svg.not-done {
  color: #d71c38;
}

.questions {
  margin: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions h4 {
  color: #f1f1f1;
  margin-bottom: 1rem;
}

.questions h6 {
  margin-bottom: 0.4rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.questions .question-group {
  margin-bottom: 2rem;
}

.questions .question-group:last-of-type {
  margin-bottom: 0;
}

.questions .question-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.questions .question-form div {
  padding-bottom: 0.4rem;
}

.questions .question-form div:last-of-type {
  margin-bottom: 0;
}

.questions .question-form p {
  margin-top: 0.4rem;
  display: none;
}

.questions .question-form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.questions .question-form + a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.practice-questions .question-form {
  margin-bottom: 1.6rem;
}

.test-info {
  margin-top: 0.4rem;
}

#summarize-form {
  display: none;
}

#summarize-form button {
  margin-top: 0;
}

main.test-end h3 {
  font-size: 2rem;
  margin: 1.6rem 0;
}

main.test-end h3 span {
  color: #dfab00;
}

main.test-end h4 {
  text-align: center;
}

main.test-end h4 span {
  font-size: 4rem;
}

main.test-end h4 span:first-of-type {
  color: #36687C;
}

main.test-end h4 span:last-of-type {
  color: #88c03d;
}

.flashcard-sets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flashcard-button,
.flashcard-next {
  display: none;
  cursor: pointer;
}

.flashcard-button:first-of-type,
.flashcard-next:first-of-type {
  display: block;
}

.flashcard-correct-translation {
  font-size: 1.3rem;
}

.flashcard-correct-translation.correct span {
  color: #88c03d;
}

.flashcard-correct-translation.wrong span {
  color: #d71c38;
}

.flashcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  display: none;
}

.flashcards:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flashcards .flashcard {
  margin: 1.6rem 0;
  background: #3b3e42;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flashcards .flashcard h3 {
  font-size: 1.3rem;
}

.flashcards .flashcard input {
  margin-top: 0;
  padding: 0.5rem 0;
  width: 13rem;
  font-size: 1.2rem;
  border-bottom: 3px solid white;
  background: none;
  font-weight: bold;
  border-radius: 0;
  color: #f1f1f1;
}

.flashcards .flashcard input:focus {
  border-color: #d4d4d4;
}
/*# sourceMappingURL=learn.css.map */