h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #c9c1c1;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #3b3e42;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #21252C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #36687C;
}

a:hover {
  color: #dfab00;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 10px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

input {
  font-weight: bold;
}

button:not(.delete, .lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #dfab00;
  color: #f1f1f1;
  border: 3px solid #dfab00;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete, .lesson-button) {
  background-color: #36687C;
  border-color: #36687C;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #dfab00;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #36687C !important;
  border-color: #36687C !important;
}

button.invert-colors:hover {
  background-color: #dfab00 !important;
  border-color: #dfab00 !important;
}

h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #c9c1c1;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #3b3e42;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #21252C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #36687C;
}

a:hover {
  color: #dfab00;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 10px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

input {
  font-weight: bold;
}

button:not(.delete, .lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #dfab00;
  color: #f1f1f1;
  border: 3px solid #dfab00;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete, .lesson-button) {
  background-color: #36687C;
  border-color: #36687C;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #dfab00;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #36687C !important;
  border-color: #36687C !important;
}

button.invert-colors:hover {
  background-color: #dfab00 !important;
  border-color: #dfab00 !important;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
  opacity: 0;
}

header {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0;
  margin-bottom: 2rem;
}

header .logo__brand:hover {
  color: #dfab00;
}

header #hamburger-icon {
  cursor: pointer;
}

header .lang-menu {
  position: absolute;
  -webkit-transform: translate(-136px, 130px);
          transform: translate(-136px, 130px);
  background: #353638;
  padding: 0.8rem;
  border-radius: 10px;
  width: 150px;
  display: none;
  opacity: 0;
}

header .lang-menu__option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

header .lang-menu__option:last-of-type {
  margin-bottom: 0;
}

header .lang-menu__option h6 {
  color: #f1f1f1;
}

header .lang-menu__option h6:hover {
  color: #c9c1c1;
}

header .lang-menu__option__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: none;
  height: 0px;
  opacity: 0;
  margin: 0.35rem 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown a {
  padding: 0.35rem 0 0.35rem 0.8rem;
  font-weight: bold;
  display: inline;
  width: 10px;
  color: #dfab00;
}

header .lang-menu__option__dropdown a:hover {
  color: #36687C;
}

header .lang-menu__option__dropdown-icon {
  width: 1rem;
  height: 1rem;
  color: #f1f1f1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown-icon:hover {
  color: #c9c1c1;
  cursor: pointer;
}

header nav > {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav > a {
  margin: 0 1rem;
}

header nav > a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #f1f1f1;
}

header nav > a:first-of-type svg {
  margin-bottom: -3px;
  width: 1.6rem;
  height: 1.6rem;
}

header nav > a:hover {
  cursor: pointer;
}

header nav > a:hover svg {
  color: #36687C;
}

header .notifications {
  margin-top: 2rem;
  position: fixed;
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 0.8rem;
  background: #353638;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1000;
}

header .notifications h6 {
  text-align: center;
}

header .notifications h2 {
  text-align: center;
  margin-bottom: 1rem;
}

header .notifications .notification {
  margin-bottom: 1.6rem;
  background: #3b3e42;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 10px;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  position: relative;
}

header .notifications .notification:last-of-type {
  margin-bottom: 0;
}

header .notifications .notification h3 {
  margin-bottom: 0.2rem;
}

header .notifications .notification button.delete {
  margin: 0;
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: none;
}

header .notifications .notification button.delete:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

header .notifications .notification button.delete svg {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.25rem;
  background: #f1f1f1;
  fill: #D71C38;
  border-radius: 10px;
}

header .user-menu {
  position: absolute;
  -webkit-transform: translate(-110px, 10px);
          transform: translate(-110px, 10px);
  background: #353638;
  padding: 0.8rem;
  border-radius: 10px;
  width: 180px;
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .user-menu a {
  font-size: 1.05rem;
  color: #f1f1f1;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

header .user-menu a:hover {
  cursor: pointer;
}

header .user-menu a:hover svg {
  color: #36687C;
}

header .user-menu a:first-of-type {
  margin-top: 0;
}

header .user-menu svg {
  width: 1.2rem;
  height: 1.2rem;
  color: #dfab00;
  margin-right: 0.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .user-menu svg:hover {
  color: #c9c1c1;
  cursor: pointer;
}

.lightmode {
  background-color: #f1f1f1;
}

.lightmode .lang-choices .lang-choice {
  color: #21252C;
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #21252C;
}

.lightmode .questions h4 {
  color: #21252C;
}

.lightmode .flashcards .flashcard {
  background: #d4d4d4;
}

.lightmode .flashcards .flashcard input {
  color: #21252C;
}

.lightmode .flashcards .flashcard input:focus {
  border-color: #3b3e42;
}

.lightmode button {
  color: #d4d4d4;
}

.lightmode .logo__icon {
  color: #21252C;
}

.lightmode .logo__brand {
  color: #21252C;
}

.lightmode h1 {
  color: #21252C;
}

.lightmode h2 {
  color: #21252C;
}

.lightmode h3 {
  color: #21252C;
}

.lightmode h4,
.lightmode h5,
.lightmode h6 {
  color: #3b3e42;
}

.lightmode label {
  color: #21252C;
}

.lightmode input,
.lightmode textarea {
  color: #d4d4d4;
}

.lightmode p {
  color: #353535;
}

.lightmode header .lang-menu {
  background: #e0e0e0;
}

.lightmode header .lang-menu__option h6 {
  color: #21252C;
}

.lightmode header .lang-menu__option h6:hover {
  color: #3b3e42;
}

.lightmode header .lang-menu__option__dropdown-icon {
  color: #21252C;
}

.lightmode header .lang-menu__option__dropdown-icon:hover {
  color: #3b3e42;
}

.lightmode header nav > a svg {
  color: #21252C;
}

.lightmode header nav > a:hover svg {
  color: #36687C;
}

.lightmode header .user-menu {
  background: #e0e0e0;
}

.lightmode header .user-menu a {
  color: #21252C;
}

.lightmode header .user-menu svg:hover {
  color: #3b3e42;
}

.lightmode .lang-choices .lang-choice {
  color: #21252C;
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #21252C;
}

.lightmode .notifications {
  background: #e0e0e0;
}

.lightmode .notifications .notification {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .notifications .notification button.delete svg {
  background: #21252C;
  fill: #D71C38;
}

.lightmode .user-badges .user-badge svg + p {
  background: #d4d4d4;
}

.lightmode .user-badges .user-badge.not-acquired svg {
  color: #505357;
}

.lightmode .user-badges .search-form select {
  background: #21252C;
  color: #f1f1f1;
}

.lightmode .user-darker-dark-color {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #21252C;
}

.lightmode .user-test {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #21252C;
}

.lightmode .user-test h5 {
  color: #dfab00;
}

a {
  color: initial;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.lang-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  width: 100%;
}

.lang-choices .lang-choice {
  color: #f1f1f1;
  background: #3b3e42;
  width: 100%;
  margin: 1.6rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  font-size: 1.5rem;
}

.lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lang-choices .lang-choice h2 {
  font-size: 1.5rem;
}

.lang-choices .lang-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lang-choices .lang-choice div h4 {
  font-size: 1.5rem;
  color: #dfab00;
  margin-left: 1rem;
}

.lang-choices .lang-choice div h5 {
  font-size: 1.5rem;
  color: #f1f1f1;
}

.learning-subject {
  color: #dfab00;
  font-size: 2rem;
}

.learning-subject span {
  color: #36687C;
}

.user-scores {
  margin: 1.6rem 0;
}

.user-scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-scores span {
  color: #dfab00;
}

.user-scores a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-scores a button {
  margin-top: 1rem;
}

.user-badges {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.user-badges .user-badge svg:hover + p {
  opacity: 1;
  cursor: default;
}

.user-badges .user-badge svg + p {
  opacity: 0;
  position: absolute;
  background: #3b3e42;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

.user-badges svg {
  width: 3rem;
}

.user-badges svg.least-tests-badge {
  color: #C77B30;
}

.user-badges svg.more-tests-badge {
  color: #BABABA;
}

.user-badges svg.most-tests-badge {
  color: #F7D000;
}

.user-badges svg.best-attitude-badge, .user-badges svg.better-attitude-badge, .user-badges svg.good-attitude-badge {
  color: #EDB702;
}

.user-badges svg.best-score-badge {
  color: #D6AF64;
}

.user-badges svg.worst-score-badge {
  color: #7e390b;
}

.user-badges .user-badge.not-acquired svg {
  color: #505357;
}

h2.user-tests-heading {
  margin-top: 1.6rem;
}

.search-form select {
  margin-right: 1.6rem;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  background: #f1f1f1;
  color: #21252C;
  border: none;
}

.search-form select:focus {
  outline: none;
}

h2.current-query {
  margin-top: 1.6rem;
}

h2.current-query span {
  color: #dfab00;
}

.user-tests {
  margin-top: 1.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
}

.user-test {
  background: #3b3e42;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 10px;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  position: relative;
  color: #f1f1f1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.user-test:last-of-type {
  margin-bottom: 0;
}

.user-test h3 {
  font-size: 1.6rem;
}

.user-test h4 {
  font-weight: normal;
}

.user-test h5 {
  color: #dfab00;
}

main.user-settings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 700px;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

main.user-settings h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
}

main.user-settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3b3e42;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.6rem 0;
}

main.user-settings form:nth-of-type(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main.user-settings form input {
  margin: 1rem 0;
  padding: 0.8rem;
  width: 15rem;
  -webkit-box-shadow: #3b3e42 0px 5px 3px;
          box-shadow: #3b3e42 0px 5px 3px;
}

main.user-settings form input:focus {
  -webkit-box-shadow: #3b3e42 0px 10px 3px;
          box-shadow: #3b3e42 0px 10px 3px;
}

main.user-settings form .confirmation {
  display: none;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #3b3e42;
  padding: 1.5rem;
  text-align: center;
  z-index: 1000;
  opacity: 0;
}

main.user-settings form .confirmation h3 {
  color: #f1f1f1;
}

main.user-settings form h5 {
  display: none;
  color: #D71C38;
  text-align: center;
  padding: 0 0.8rem;
}

main.user-settings form h5.wrong-password-error {
  display: inline;
}
/*# sourceMappingURL=user.css.map */