h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #d6d2d2;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #282E3E;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13141B;
}

::-webkit-scrollbar-thumb {
  background: #282E3E;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363d53;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #13141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3ccfcf;
}

a:hover {
  color: #ffdb5b;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

footer {
  margin-top: 2rem;
}

input {
  font-weight: bold;
}

button:not(.delete, .lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete, .lesson-button) {
  background-color: #3ccfcf;
  border-color: #3ccfcf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #ffdb5b;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #3ccfcf !important;
  border-color: #3ccfcf !important;
}

button.invert-colors:hover {
  background-color: #ffdb5b !important;
  border-color: #ffdb5b !important;
}

.contact-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2.5rem;
  bottom: 2.5rem;
  background: #1a1d28;
  color: #3ccfcf;
  border-radius: 360px;
  padding: 8px;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 1000;
}

.contact-icon:hover {
  background: #212335;
  cursor: pointer;
}

.contact-info {
  position: fixed;
  right: 9rem;
  bottom: 2.5rem;
  border-radius: 4px;
  padding: 1.5rem;
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  opacity: 0;
  background: #1a1d28;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 100;
}

.contact-info h5 {
  font-size: 1rem;
  color: #ffdb5b;
  min-width: 14rem;
}

.contact-info h6 {
  font-size: 1.1rem;
  color: #f1f1f1;
  margin-bottom: 1.2rem;
  text-align: center;
  min-width: 14rem;
}

.contact-info h6:last-of-type {
  margin-bottom: 0;
}

.contact-info h6 a {
  color: #ffdb5b;
}

h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #d6d2d2;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #282E3E;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13141B;
}

::-webkit-scrollbar-thumb {
  background: #282E3E;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363d53;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #13141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3ccfcf;
}

a:hover {
  color: #ffdb5b;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

footer {
  margin-top: 2rem;
}

input {
  font-weight: bold;
}

button:not(.delete, .lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete, .lesson-button) {
  background-color: #3ccfcf;
  border-color: #3ccfcf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #ffdb5b;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #3ccfcf !important;
  border-color: #3ccfcf !important;
}

button.invert-colors:hover {
  background-color: #ffdb5b !important;
  border-color: #ffdb5b !important;
}

.contact-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2.5rem;
  bottom: 2.5rem;
  background: #1a1d28;
  color: #3ccfcf;
  border-radius: 360px;
  padding: 8px;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 1000;
}

.contact-icon:hover {
  background: #212335;
  cursor: pointer;
}

.contact-info {
  position: fixed;
  right: 9rem;
  bottom: 2.5rem;
  border-radius: 4px;
  padding: 1.5rem;
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  opacity: 0;
  background: #1a1d28;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 100;
}

.contact-info h5 {
  font-size: 1rem;
  color: #ffdb5b;
  min-width: 14rem;
}

.contact-info h6 {
  font-size: 1.1rem;
  color: #f1f1f1;
  margin-bottom: 1.2rem;
  text-align: center;
  min-width: 14rem;
}

.contact-info h6:last-of-type {
  margin-bottom: 0;
}

.contact-info h6 a {
  color: #ffdb5b;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
  opacity: 0;
}

header {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0;
  margin-bottom: 2rem;
}

header .logo__brand:hover {
  color: #ffdb5b;
}

header #hamburger-icon {
  cursor: pointer;
}

header .lang-menu {
  position: absolute;
  -webkit-transform: translate(-136px, 130px);
          transform: translate(-136px, 130px);
  background: #353638;
  padding: 0.8rem;
  border-radius: 10px;
  width: 150px;
  display: none;
  opacity: 0;
}

header .lang-menu__option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

header .lang-menu__option:last-of-type {
  margin-bottom: 0;
}

header .lang-menu__option h6 {
  color: #f1f1f1;
}

header .lang-menu__option h6:hover {
  color: #d6d2d2;
}

header .lang-menu__option__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: none;
  height: 0px;
  opacity: 0;
  margin: 0.35rem 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown a {
  padding: 0.35rem 0 0.35rem 0.8rem;
  font-weight: bold;
  display: inline;
  width: 10px;
  color: #ffdb5b;
}

header .lang-menu__option__dropdown a:hover {
  color: #3ccfcf;
}

header .lang-menu__option__dropdown-icon {
  width: 1rem;
  height: 1rem;
  color: #f1f1f1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .lang-menu__option__dropdown-icon:hover {
  color: #d6d2d2;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a[href="/donate"] {
  padding: 0.35rem 1rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

header nav a[href="/donate"]:hover {
  background: #3ccfcf;
  border-color: #3ccfcf;
}

header nav a {
  margin: 0 1rem;
}

header nav a:last-of-type {
  margin-right: 0;
}

header nav a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #f1f1f1;
}

header nav a:hover {
  cursor: pointer;
}

header nav a:hover svg {
  color: #3ccfcf;
}

header .notifications {
  margin-top: 2rem;
  position: fixed;
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  padding: 0.8rem;
  background: #282E3E;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 4px;
}

header .notifications h6 {
  text-align: center;
}

header .notifications h2 {
  text-align: center;
  margin-bottom: 1rem;
}

header .notifications .notification {
  margin-bottom: 1.6rem;
  background: #282E3E;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 4px;
  position: relative;
}

header .notifications .notification:last-of-type {
  margin-bottom: 0;
}

header .notifications .notification h3 {
  margin-bottom: 0.2rem;
}

header .notifications .notification button.delete {
  margin: 0;
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: none;
}

header .notifications .notification button.delete:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

header .notifications .notification button.delete svg {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.25rem;
  background: #f1f1f1;
  fill: #282E3E;
  border-radius: 10px;
}

header .user-menu {
  position: absolute;
  -webkit-transform: translate(100px, 110px);
          transform: translate(100px, 110px);
  background: #1a1b2b;
  padding: 0.8rem;
  border-radius: 10px;
  width: 180px;
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 200;
}

header .user-menu a {
  font-size: 1.05rem;
  color: #f1f1f1;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

header .user-menu a:hover {
  cursor: pointer;
}

header .user-menu a:hover svg {
  color: #3ccfcf;
}

header .user-menu a:first-of-type {
  margin-top: 0;
}

header .user-menu svg {
  width: 1.2rem;
  height: 1.2rem;
  color: #ffdb5b;
  margin-right: 0.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .user-menu svg:hover {
  color: #d6d2d2;
  cursor: pointer;
}

@media (max-width: 700px) {
  header nav a[href='/donate'] {
    display: none;
  }
  header .user-menu {
    -webkit-transform: translate(-85px, 100px);
            transform: translate(-85px, 100px);
  }
}

.lightmode {
  background-color: #f6f7fb;
}

.lightmode .lang-choices .lang-choice,
.lightmode .recommendations .lang-choice,
.lightmode .latest-activity .lang-choice {
  color: #303545;
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover,
.lightmode .recommendations .lang-choice:hover,
.lightmode .latest-activity .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice h5,
.lightmode .recommendations .lang-choice h5,
.lightmode .latest-activity .lang-choice h5 {
  color: #303545;
}

.lightmode .lang-choices .lang-choice.learn-choice svg,
.lightmode .recommendations .lang-choice.learn-choice svg,
.lightmode .latest-activity .lang-choice.learn-choice svg {
  color: #E8E8EE;
}

.lightmode .recommendations .recommendation,
.lightmode .recommendations .latest-activity-record,
.lightmode .latest-activity .recommendation,
.lightmode .latest-activity .latest-activity-record {
  color: #303545;
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .recommendations .recommendation:hover,
.lightmode .recommendations .latest-activity-record:hover,
.lightmode .latest-activity .recommendation:hover,
.lightmode .latest-activity .latest-activity-record:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .recommendations .recommendation div h5,
.lightmode .recommendations .latest-activity-record div h5,
.lightmode .latest-activity .recommendation div h5,
.lightmode .latest-activity .latest-activity-record div h5 {
  color: #303545;
}

.lightmode .questions h4 {
  color: #303545;
}

.lightmode button.flashcard-button {
  color: #fff;
}

.lightmode .flashcards .flashcard {
  background: #ffffff;
}

.lightmode .flashcards .flashcard input {
  color: #303545;
  border-color: #303545;
}

.lightmode .flashcards .flashcard input:focus {
  border-color: #938da6;
}

.lightmode button {
  color: #ffffff;
}

.lightmode .logo__icon {
  color: #303545;
}

.lightmode .logo__brand {
  color: #303545;
}

.lightmode h1 {
  color: #303545;
}

.lightmode h2 {
  color: #303545;
}

.lightmode h3 {
  color: #303545;
}

.lightmode h4,
.lightmode h5,
.lightmode h6 {
  color: #938da6;
}

.lightmode label {
  color: #303545;
}

.lightmode input,
.lightmode textarea {
  color: #ffffff;
}

.lightmode p {
  color: #353535;
}

.lightmode header .lang-menu {
  background: #e0e0e0;
}

.lightmode header a[href="/donate"] {
  color: #fff;
}

.lightmode header nav > a svg {
  color: #303545;
}

.lightmode header nav > a:hover svg {
  color: #3ccfcf;
}

.lightmode header .user-menu {
  background: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  border-color: #f6f7fb;
}

.lightmode header .user-menu a {
  color: #303545;
}

.lightmode header .user-menu svg:hover {
  color: #938da6;
}

.lightmode .lang-choices .lang-choice {
  color: #303545;
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #303545;
}

.lightmode .notifications {
  background: #ffffff;
}

.lightmode .notifications .notification {
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .notifications .notification button.delete svg {
  background: #303545;
  fill: #d71c38;
}

.lightmode .user-badges .user-badge svg + p {
  background: #ffffff;
}

.lightmode .user-badges .user-badge.not-acquired svg {
  color: #505357;
}

.lightmode .user-badges .search-form select {
  background: #303545;
  color: #f6f7fb;
}

.lightmode .user-darker-dark-color {
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #303545;
}

.lightmode .user-test {
  background: #ffffff;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #303545;
}

.lightmode .user-test h5 {
  color: #ffdb5b;
}

.lightmode .example-flashcards,
.lightmode .example-test,
.lightmode .donating-box {
  background: #e8e8ee;
}

.lightmode .example-flashcards span,
.lightmode .example-test span,
.lightmode .donating-box span {
  color: #ffdb5b;
}

.lightmode .example-flashcards svg,
.lightmode .example-test svg,
.lightmode .donating-box svg {
  color: #F6F7FB;
}

.lightmode .example-flashcards button,
.lightmode .example-test button,
.lightmode .donating-box button {
  color: #ffffff;
}

.lightmode .contact-icon {
  border: 2px solid rgba(18, 20, 27, 0.6);
  background: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  border-color: #f6f7fb;
}

.lightmode .contact-icon:hover {
  background: #f0f1f5;
  border-color: #f0f1f5;
}

.lightmode .contact-info {
  border: 2px solid rgba(18, 20, 27, 0.6);
  background: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
  border-color: #f6f7fb;
}

.lightmode .contact-info h5 {
  color: #ffdb5b;
}

.lightmode .contact-info h6 {
  color: #303545;
}

.lightmode .contact-info h6 a {
  color: #ffdb5b;
}

.lightmode .test-info {
  color: #303545;
}

.lightmode .test-end h4 span:first-of-type {
  color: #505357;
}

.lightmode main.user-settings form {
  background: #FFFFFF;
}

.lightmode main.user-settings form input {
  background: #EDEDF3;
  border-color: #F6F7FB;
  -webkit-box-shadow: #FFFFFF 0px 5px 3px;
          box-shadow: #FFFFFF 0px 5px 3px;
  color: #938da6;
}

.lightmode main.user-settings form input:focus {
  -webkit-box-shadow: #FFFFFF 0px 10px 3px;
          box-shadow: #FFFFFF 0px 10px 3px;
  color: #938da6;
}

.lightmode main.user-settings form .confirmation {
  background: #FFFFFF;
}

.lightmode main.user-settings form .confirmation h3 {
  color: #303545;
}

.lightmode .practice-questions button {
  color: #fff;
}

a {
  color: initial;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1200px;
}

main.user {
  width: 100%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
}

main.user .learning-subject {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main.user .user-scores {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main.user .user-tests-heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main.user .user-tests {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.lang-choices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
}

.lang-choices h2 {
  text-align: center;
}

.lang-choices a[href="/learn/A2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.lang-choices a[href="/learn/B2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.lang-choices a[href="/learn/C2"] {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.lang-choices .lang-choice {
  color: #f1f1f1;
  background: #282E3E;
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 120px;
}

.lang-choices .lang-choice:hover {
  -webkit-box-shadow: #3ccfcf 0px 5px 0px;
          box-shadow: #3ccfcf 0px 5px 0px;
}

.lang-choices .lang-choice.learn-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-choices .lang-choice.learn-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-choices .lang-choice.featured {
  margin-top: 1.6rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.lang-choices .lang-choice h2 {
  font-size: 1.6rem;
}

.lang-choices .lang-choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.lang-choices .lang-choice div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lang-choices .lang-choice div h4 {
  font-size: 1.3rem;
  color: #ffdb5b;
  margin-left: 1rem;
}

.lang-choices .lang-choice div h5 {
  font-size: 1.3rem;
  color: #f1f1f1;
}

.learning-subject {
  color: #ffdb5b;
  font-size: 1.5rem;
}

.learning-subject span {
  color: #3ccfcf;
}

.user-scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-scores span {
  color: #ffdb5b;
}

.user-scores h5 {
  margin-bottom: 1rem;
}

.user-scores a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.user-scores a button {
  margin-top: 1rem;
}

.user-badges {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 600px;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
}

.user-badges .user-badge svg:hover + p {
  opacity: 1;
  cursor: default;
}

.user-badges .user-badge svg + p {
  opacity: 0;
  position: absolute;
  background: #282E3E;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

.user-badges svg {
  width: 3rem;
}

.user-badges svg.least-tests-badge {
  color: #c77b30;
}

.user-badges svg.more-tests-badge {
  color: #bababa;
}

.user-badges svg.most-tests-badge {
  color: #f7d000;
}

.user-badges svg.best-attitude-badge, .user-badges svg.better-attitude-badge, .user-badges svg.good-attitude-badge {
  color: #edb702;
}

.user-badges svg.best-score-badge {
  color: #d6af64;
}

.user-badges svg.worst-score-badge {
  color: #7e390b;
}

.user-badges .user-badge.not-acquired svg {
  color: #505357;
}

h2.user-tests-heading {
  margin-top: 1.6rem;
}

h2.user-tests-heading + h4 {
  margin-top: 0.4rem;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.search-form select {
  margin-right: 1.6rem;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  background: #f1f1f1;
  color: #13141B;
  border: none;
}

.search-form select:focus {
  outline: none;
}

h2.current-query {
  margin: 1.6rem 0 1rem;
}

h2.current-query span {
  color: #ffdb5b;
}

.user-tests {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  width: 100%;
}

.user-test {
  background: #282E3E;
  padding: 0.5rem 2rem 0.5rem 0.8rem;
  border-radius: 4px;
  position: relative;
  color: #f1f1f1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 5px;
}

.user-test:last-of-type {
  margin-bottom: 0;
}

.user-test h3 {
  font-size: 1.6rem;
}

.user-test h4 {
  font-weight: normal;
}

.user-test h5 {
  color: #ffdb5b;
}

.user-test h4,
.user-test h6 {
  text-align: right;
}

main.user-settings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

main.user-settings h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: left;
}

main.user-settings form {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #282E3E;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.6rem 0;
}

main.user-settings form:nth-of-type(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main.user-settings form:nth-of-type(2), main.user-settings form:nth-of-type(4) {
  width: 100%;
  justify-self: flex-end;
}

main.user-settings form input {
  margin: 1rem 0;
  padding: 0.8rem;
  width: 15rem;
  -webkit-box-shadow: #282E3E 0px 5px 3px;
          box-shadow: #282E3E 0px 5px 3px;
}

main.user-settings form input:focus {
  -webkit-box-shadow: #282E3E 0px 10px 3px;
          box-shadow: #282E3E 0px 10px 3px;
}

main.user-settings form .confirmation {
  display: none;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #282E3E;
  padding: 1.5rem;
  text-align: center;
  z-index: 1000;
  opacity: 0;
}

main.user-settings form .confirmation h3 {
  color: #f1f1f1;
}

main.user-settings form h5 {
  display: none;
  color: #d71c38;
  text-align: center;
  padding: 0 0.8rem;
}

main.user-settings form h5.wrong-password-error {
  display: inline;
}

.donating-box {
  background: #1a1d28;
  border-radius: 4px;
  width: 100%;
  min-height: 12rem;
  margin-top: 4rem;
  padding: 2rem 20rem 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.donating-box span {
  color: #ffdb5b;
}

.donating-box a button {
  margin-top: 1.6rem !important;
  color: #282E3E;
}

.donating-box h2,
.donating-box button {
  z-index: 2;
}

.donating-box svg {
  position: absolute;
  width: 13rem;
  top: 10px;
  right: 20px;
  justify-self: flex-end;
  color: #282E3E;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  z-index: 1;
}

@media (max-width: 900px) {
  .lang-choices {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lang-choices a[href="/learn/A2"] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .lang-choices a[href="/learn/B2"] {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .lang-choices a[href="/learn/C2"] {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .recommendations,
  .latest-activity {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .flashcards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flashcards .flashcard {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .user-tests {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .lang-choices {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lang-choices .lang-choice div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .lang-choices .lang-choice div div h4,
  .lang-choices .lang-choice div div h5 {
    font-size: 1.15rem;
  }
  .lang-choices .lang-choice div div h4 {
    margin-left: 0;
  }
  .donating-box {
    padding: 2rem 1.5rem;
  }
  main.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-scores {
    text-align: center;
  }
  .user-scores h5 {
    max-width: 350px;
  }
  .user-scores a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .user-tests {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .lang-choices {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lang-choices h4, .lang-choices h5 {
    font-size: 1.15rem;
  }
  .user-tests {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=user.css.map */