@import "../global/variables", "../global/defaults", "../partials/header", "../global/lightmode";

a {
  color: initial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

main.user {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $medium-margin * 2;

  .learning-subject {
    grid-column: 1/3;
  }

  .user-scores {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .user-tests-heading {
    grid-column: 1/3;
  }

  .user-tests {
    grid-column: 1/3;
  }
}

.lang-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 100%;

  h2 {
    text-align: center;
  }

  a[href="/learn/A2"] {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  a[href="/learn/B2"] {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  a[href="/learn/C2"] {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .lang-choice {
    color: $lighter-light-color;
    background: $lighter-dark-color;
    width: 100%;
    margin: $small-margin 0;
    padding: $small-padding $medium-padding;
    border-radius: $default-border-radius;
    font-weight: bold;
    font-size: 1.5rem;
    min-height: 120px;

    &:hover {
      box-shadow: $secondary-color 0px 5px 0px;
    }

    &.learn-choice {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.featured {
      margin-top: $medium-margin;
      grid-column: 1/2;
    }

    h2 {
      font-size: 1.6rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      div {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }

      h4 {
        font-size: 1.3rem;
        color: $base-color;
        margin-left: $small-margin;
      }

      h5 {
        font-size: 1.3rem;
        color: $lighter-light-color;
      }
    }
  }
}

.learning-subject {
  color: $base-color;
  font-size: 1.5rem;

  span {
    color: $secondary-color;
  }
}

.user-scores {
  display: flex;
  flex-direction: column;

  span {
    color: $base-color;
  }

  h5 {
    margin-bottom: $small-margin;
  }

  a {
    align-self: flex-start;

    button {
      margin-top: $small-margin;
    }
  }
}

.user-badges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 600px;
  row-gap: $small-margin * 2;
  column-gap: $small-margin * 2;
  align-items: flex-end;
  justify-self: flex-end;

  .user-badge {
    svg {
      &:hover {
        & + p {
          opacity: 1;
          cursor: default;
        }
      }

      & + p {
        opacity: 0;
        position: absolute;
        background: $lighter-dark-color;
        text-align: center;
        border-radius: 10px;
        font-size: 1rem;
        padding: $tiny-padding $small-padding;
      }
    }
  }

  svg {
    width: 3rem;

    &.least-tests-badge {
      color: #c77b30;
    }

    &.more-tests-badge {
      color: #bababa;
    }

    &.most-tests-badge {
      color: #f7d000;
    }

    &.best-attitude-badge,
    &.better-attitude-badge,
    &.good-attitude-badge {
      color: #edb702;
    }

    &.best-score-badge {
      color: #d6af64;
    }

    &.worst-score-badge {
      color: #7e390b;
    }
  }

  .user-badge.not-acquired {
    svg {
      color: #505357;
    }
  }
}

h2.user-tests-heading {
  margin-top: $medium-margin;

  & + h4 {
    margin-top: $tiny-margin;
    transform: translateY(-50px);
  }
}

.search-form {
  select {
    margin-right: $medium-margin;
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    background: $lighter-light-color;
    color: $darker-dark-color;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

h2.current-query {
  margin: $medium-margin 0 $small-margin;

  span {
    color: $base-color;
  }
}

.user-tests {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
}

.user-test {
  background: $lighter-dark-color;
  padding: $tiny-padding $big-padding $tiny-padding $small-padding;
  border-radius: $default-border-radius;
  position: relative;
  color: $lighter-light-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-weight: normal;
  }

  h5 {
    color: $base-color;
  }

  h4,
  h6 {
    text-align: right;
  }
}

main.user-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  column-gap: 2rem;

  h2 {
    grid-column: 1/3;
    text-align: left;
  }

  form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $lighter-dark-color;
    border-radius: 10px;
    padding: $medium-padding;
    margin: $medium-margin 0;

    &:nth-of-type(1) {
      align-self: flex-start;
    }

    &:nth-of-type(2),
    &:nth-of-type(4) {
      width: 100%;
      justify-self: flex-end;
    }

    input {
      margin: $small-margin 0;
      padding: $small-padding;
      width: 15rem;
      box-shadow: $lighter-dark-color 0px 5px 3px;

      &:focus {
        box-shadow: $lighter-dark-color 0px 10px 3px;
      }
    }

    .confirmation {
      display: none;
      position: fixed;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $lighter-dark-color;
      padding: $medium-padding;
      text-align: center;
      z-index: 1000;
      opacity: 0;

      h3 {
        color: $lighter-light-color;
      }
    }

    h5 {
      display: none;
      color: #d71c38;
      text-align: center;
      padding: 0 $small-padding;

      &.wrong-password-error {
        display: inline;
      }
    }
  }
}

.donating-box {
  background: $semi-dark-color;
  border-radius: $default-border-radius;
  width: 100%;
  min-height: 12rem;
  margin-top: $big-margin * 2;
  padding: $big-padding 20rem $big-padding $medium-padding;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  span {
    color: $base-color;
  }

  a {
    button {
      margin-top: $medium-margin !important;
      color: $lighter-dark-color;
    }
  }

  h2,
  button {
    z-index: 2;
  }

  svg {
    position: absolute;
    width: 13rem;
    top: 10px;
    right: 20px;
    justify-self: flex-end;
    color: $lighter-dark-color;
    transform: rotate(10deg);
    z-index: 1;
  }
}

@media (max-width: 900px) {
  .lang-choices {
    grid-template-columns: 1fr 1fr;

    a[href="/learn/A2"] {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    a[href="/learn/B2"] {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    a[href="/learn/C2"] {
      grid-row: 3/4;
      grid-column: 2/3;
    }
  }

  .recommendations,
  .latest-activity {
    grid-template-columns: 1fr 1fr;
  }

  .flashcards {
    flex-direction: column;

    .flashcard {
      align-self: center;
    }
  }

  .user-tests {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .lang-choices {
    grid-template-columns: 1fr 1fr;

    .lang-choice {
      div {
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;

          h4,
          h5 {
            font-size: 1.15rem;
          }

          h4 {
            margin-left: 0;
          }
        }
      }
    }
  }

  .donating-box {
    padding: $big-padding $medium-padding;
  }

  main.user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-scores {
    text-align: center;

    h5 {
      max-width: 350px;
    }

    a {
      align-self: center;
    }
  }

  .user-tests {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .lang-choices {
    grid-template-columns: 1fr 1fr;
    h4, h5 {
      font-size: 1.15rem;
    }
  }

  .user-tests {
    grid-template-columns: 1fr;
  }
}
