@import "variables";

// $xarker-light-color: #FFFFFF;
// $xighter-light-color: #F6F7FB;

// $xarker-dark-color: #303545;
// $xighter-dark-color: #938da6;

// $base-color: #4257B2

.lightmode {
  .lang-choices,
  .recommendations,
  .latest-activity {
    .lang-choice {
      color: #303545;
      background: #ffffff;
      box-shadow: #505357 0px 3px 1px;

      &:hover {
        box-shadow: #505357 0px 5px 3px;
      }

        h5 {
          color: #303545;
      }

      &.learn-choice {
        svg {
          color: #E8E8EE;
        }
      }
    }
  }

  .recommendations,
  .latest-activity {
    .recommendation,
    .latest-activity-record {
      color: #303545;
      background: #ffffff;
      box-shadow: #505357 0px 3px 1px;

      &:hover {
        box-shadow: #505357 0px 5px 3px;
      }

      div {
        h5 {
          color: #303545;
        }
      }
    }
  }

  .questions {
    h4 {
      color: #303545;
    }
  }

  button.flashcard-button {
    color: #fff;
  }

  .flashcards {
  
    .flashcard {
      background: #ffffff;

      input {
        color: #303545;
        border-color: #303545;

        &:focus {
          border-color: #938da6;
        }
      }

    }
  }

  background-color: #f6f7fb;

  button:not(.delete, .lesson-button) {
    color: #ffffff;
  }

  .logo {
    &__icon {
      color: #303545;
    }

    &__brand {
      color: #303545;
    }
  }

  h1 {
    color: #303545;
  }

  h2 {
    color: #303545;
  }

  h3 {
    color: #303545;
  }

  h4,
  h5,
  h6 {
    color: #938da6;
  }

  label {
    color: #303545;
  }

  input,
  textarea {
    color: #ffffff;
  }

  p {
    color: rgb(53, 53, 53);
  }

  header {
    .lang-menu {
      background: #e0e0e0;
    }

    a[href="/donate"] {
      color: #fff;
    }

    nav > {
      a {
        svg {
          color: #303545;
        }

        &:hover {
          svg {
            color: $secondary-color;
          }
        }
      }
    }

    .user-menu {
      background: #fff;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
      border-color: #f6f7fb;

      a {
        color: #303545;
      }

      svg {
        &:hover {
          color: #938da6;
        }
      }
    }
  }

  .lang-choices {
    .lang-choice {
      color: #303545;
      background: #ffffff;
      box-shadow: #505357 0px 3px 1px;

      &:hover {
        box-shadow: #505357 0px 5px 3px;
      }

      div {
        h5 {
          color: #303545;
        }
      }
    }
  }

  .notifications {
    background: #ffffff;

    .notification {
      background: #ffffff;
      box-shadow: #505357 0px 3px 1px;

      button.delete {
        svg {
          background: #303545;
          fill: #d71c38;
        }
      }
    }
  }

  .user-badges {
    .user-badge {
      svg {
        & + p {
          background: #ffffff;
        }
      }
    }

    .user-badge.not-acquired {
      svg {
        color: #505357;
      }
    }

    .search-form {
      select {
        background: #303545;
        color: #f6f7fb;
      }
    }
  }
  .user-darker-dark-color {
    background: #ffffff;
    box-shadow: #505357 0px 3px 1px;
    color: #303545;
  }

  .user-test {
    background: #ffffff;
    box-shadow: #505357 0px 3px 1px;
    color: #303545;

    h5 {
      color: $base-color;
    }
  }

  .example-flashcards,
  .example-test,
  .donating-box {
    background: #e8e8ee;

    span {
      color: $base-color;
    }

    svg {
      color: #F6F7FB;
    }

    button {
      color: #ffffff;
    }
  }

  .contact-icon {
    border: 2px solid rgba(18, 20, 27, 0.6);
    background: #fff;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    border-color: #f6f7fb;
  
    &:hover {
      background: rgb(240, 241, 245);
      border-color: rgb(240, 241, 245);
    }
  }

  .contact-info {
    border: 2px solid rgba(18, 20, 27, 0.6);
    background: #fff;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    border-color: #f6f7fb;

    h5 {
      color: $base-color;
    }
  
    h6 {
      color: #303545;
  
      a {
        color: $base-color;
      }
    }
  }

  .test-info {
    color: #303545;
  }

  .test-end {
    h4 {
      span:first-of-type {
        color: #505357;
      }
    }
  }

  main.user-settings {
    form {
      background: #FFFFFF;

      input {
        background: #EDEDF3;
        border-color: #F6F7FB;
        box-shadow: #FFFFFF 0px 5px 3px;
        color: #938da6;
  
        &:focus {
          box-shadow: #FFFFFF 0px 10px 3px;
          color:#938da6;
        }
      }
  
      .confirmation {
        background: #FFFFFF;
  
        h3 {
          color: #303545;
        }
      }
    }
  }
 
  .practice-questions {
    button {
      color: #fff;
    }
  }

}
