$lighter-dark-color: #3b3e42;
$darker-dark-color: #21252C;

$lighter-light-color: #f1f1f1;
$darker-light-color: #c9c1c1;

$font-color: rgb(206, 206, 206);

$base-color: #dfab00;
$secondary-color: #36687C;

$section-margin: 8rem;
$big-margin: 2rem;
$medium-margin: 1.6rem;
$small-margin: 1rem;
$tiny-margin: 0.4rem;

$big-padding: 2rem;
$medium-padding: 1.5rem;
$small-padding: 0.8rem;
$tiny-padding: 0.5rem;
