h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #d6d2d2;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #282E3E;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13141B;
}

::-webkit-scrollbar-thumb {
  background: #282E3E;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363d53;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #13141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3ccfcf;
}

a:hover {
  color: #ffdb5b;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

footer {
  margin-top: 2rem;
}

input {
  font-weight: bold;
}

button:not(.delete, .lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #ffdb5b;
  color: #282E3E;
  border: 3px solid #ffdb5b;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete, .lesson-button) {
  background-color: #3ccfcf;
  border-color: #3ccfcf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #ffdb5b;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #3ccfcf !important;
  border-color: #3ccfcf !important;
}

button.invert-colors:hover {
  background-color: #ffdb5b !important;
  border-color: #ffdb5b !important;
}

.contact-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2.5rem;
  bottom: 2.5rem;
  background: #1a1d28;
  color: #3ccfcf;
  border-radius: 360px;
  padding: 8px;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 2px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 1000;
}

.contact-icon:hover {
  background: #212335;
  cursor: pointer;
}

.contact-info {
  position: fixed;
  right: 9rem;
  bottom: 2.5rem;
  border-radius: 4px;
  padding: 1.5rem;
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  opacity: 0;
  background: #1a1d28;
  border: 2px solid rgba(18, 20, 27, 0.6);
  -webkit-box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
          box-shadow: 0 5px 15px 0 rgba(147, 155, 180, 0.08);
  z-index: 100;
}

.contact-info h5 {
  font-size: 1rem;
  color: #ffdb5b;
  min-width: 14rem;
}

.contact-info h6 {
  font-size: 1.1rem;
  color: #f1f1f1;
  margin-bottom: 1.2rem;
  text-align: center;
  min-width: 14rem;
}

.contact-info h6:last-of-type {
  margin-bottom: 0;
}

.contact-info h6 a {
  color: #ffdb5b;
}

body {
  background: #f0f0f1;
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3 {
  color: #13141B;
}

h4,
h5 {
  color: #282E3E;
}

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 90%;
      grid-template-columns: 10rem 90%;
}

div.main-content {
  padding: 4rem 1.5rem;
}

div.main-content select {
  margin-right: 1.6rem;
  font-size: 1rem;
  background: #f1f1f1;
  color: #13141B;
  border: 3px solid #13141B;
  border-radius: 10px;
  padding: 0.25rem 0.4rem;
  font-weight: bold;
}

div.main-content select:focus {
  outline: none;
}

div.main-content button {
  margin: 0;
  width: 6rem;
  font-size: 1rem;
  margin-right: 2rem;
  background: #13141B;
  border-color: #13141B;
  color: #f1f1f1;
}

div.main-content button:hover {
  background: none;
  border-color: #13141B;
  color: #13141B;
}

div.main-content label {
  color: #13141B;
  font-size: 1.2rem;
}

div.main-content input[type="text"],
div.main-content textarea {
  padding: 0.5rem 0.8rem;
  width: 15rem;
  font-size: 1rem;
  border: 3px solid #13141B;
  resize: none;
  font-weight: bold;
}

div.main-content input[type="text"]:focus,
div.main-content textarea:focus {
  -webkit-box-shadow: #282E3E 0px 3px 1px;
          box-shadow: #282E3E 0px 3px 1px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #13141B;
  height: 100vh;
  padding: 4rem 1.5rem;
}

aside a {
  color: #f0f0f1;
  font-size: 1.2rem;
}

.user-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 20% 20% 55%;
      grid-template-columns: 5% 20% 20% 55%;
  margin-top: 4rem;
}

.user-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 20% 20% 55%;
      grid-template-columns: 5% 20% 20% 55%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.subject-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 20% 55%;
      grid-template-columns: 5% 6% 20% 55%;
  margin-top: 4rem;
}

.subject-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 20% 55%;
      grid-template-columns: 5% 6% 20% 55%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.flashcard-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
      grid-template-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
  margin-top: 4rem;
}

.flashcard-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
      grid-template-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.flashcard-box.fake {
  display: none;
}

.flashcard-box form {
  width: 100%;
}

.lesson-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
      grid-template-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
  margin-top: 4rem;
}

.lesson-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
      grid-template-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.lesson-box.fake {
  display: none;
}

.lesson-box form {
  width: 100%;
}

.question-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
      grid-template-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
  margin-top: 4rem;
}

.question-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
      grid-template-columns: 5% 6% 10% minmax(6rem, 70%) 9rem 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.question-box.fake {
  display: none;
}

.question-box form {
  width: 100%;
}

.user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-actions button {
  margin: 0;
  width: 5rem;
  font-size: 1rem;
  margin-right: 2rem;
  background: #13141B;
  border-color: #13141B;
}

.user-actions button:hover {
  background: none;
  border-color: #13141B;
  color: #13141B;
}

.action-form {
  margin: 2rem 0 0;
}

.action-form .notification-input {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.4rem 0;
}

.search-form,
.create-form {
  margin: 0 0 2rem;
}

.search-form.margin-top,
.create-form.margin-top {
  margin: 2rem 0;
}

.create-button {
  margin-bottom: 2rem;
}

.edit-form,
.add-form {
  display: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.edit-form label[for="question"],
.add-form label[for="question"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.edit-form textarea[name="question"],
.add-form textarea[name="question"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 5rem;
}

.edit-form label[for="subject"],
.add-form label[for="subject"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.edit-form select[name="subject"],
.add-form select[name="subject"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 40%;
  height: 2.5rem;
}

.edit-form label[for="answerA"],
.add-form label[for="answerA"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.edit-form textarea[name="answerA"],
.add-form textarea[name="answerA"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  width: 40%;
  height: 5rem;
}

.edit-form label[for="answerB"],
.add-form label[for="answerB"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.edit-form textarea[name="answerB"],
.add-form textarea[name="answerB"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  width: 40%;
  height: 5rem;
}

.edit-form label[for="answerC"],
.add-form label[for="answerC"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.edit-form textarea[name="answerC"],
.add-form textarea[name="answerC"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  width: 40%;
  height: 5rem;
}

.edit-form label[for="answerD"],
.add-form label[for="answerD"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.edit-form textarea[name="answerD"],
.add-form textarea[name="answerD"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  width: 40%;
  height: 5rem;
}

.edit-form label[for="correctAnswer"],
.add-form label[for="correctAnswer"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.edit-form select[name="correctAnswer"],
.add-form select[name="correctAnswer"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  width: 40% !important;
  height: 2.5rem;
}

.edit-form label[for="hint"],
.add-form label[for="hint"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.edit-form textarea[name="hint"],
.add-form textarea[name="hint"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  width: 40% !important;
  height: 5rem;
}

.edit-form button,
.add-form button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.edit-lesson-form,
.add-lesson-form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-lesson-form label[for="subject"],
.add-lesson-form label[for="subject"] {
  margin-top: 2rem;
}

.edit-lesson-form select[name="subject"],
.add-lesson-form select[name="subject"] {
  width: 20%;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.edit-lesson-form input,
.add-lesson-form input {
  width: 100% !important;
  height: 2.5rem;
  margin-bottom: 1rem;
  max-width: 1226px;
}

.edit-lesson-form textarea[name="content"],
.add-lesson-form textarea[name="content"] {
  width: 100% !important;
  max-width: 1226px;
  font-size: 1.05rem;
  height: 25rem;
  margin-bottom: 1rem;
}

.edit-lesson-form button,
.add-lesson-form button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.add-flashcard-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-flashcard-form select {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1rem;
}

.add-flashcard-form input {
  width: 50% !important;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.add-flashcard-form button {
  margin-top: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
/*# sourceMappingURL=admin.css.map */