<aside>
  <div>
    <a href="/learn">Site</a>
    <a href="/admin">Dashboard</a>
  </div>
  <div>
    <a href="/admin/questions">Questions</a>
    <a href="/admin/lessons">Lessons</a>
    <a href="/admin/subjects">Subjects</a>
    <a href="/admin/users">Users</a>
  </div>
</aside>
