h1 {
  font-size: 2rem;
  color: #f1f1f1;
}

h2 {
  font-size: 1.4rem;
  color: #f1f1f1;
}

h3 {
  font-size: 1.1rem;
  color: #f1f1f1;
}

h4, h5, h6 {
  font-size: 1.1rem;
  color: #d6d2d2;
}

label {
  color: #f1f1f1;
  font-size: 1.1rem;
}

input, textarea {
  font-size: 1rem;
  color: #282E3E;
}

p {
  font-size: 1.05rem;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13141B;
}

::-webkit-scrollbar-thumb {
  background: #282E3E;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363d53;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #13141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3ccfcf;
}

a:hover {
  color: #ffdc62;
}

button,
input,
textarea {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

button:focus, button:hover {
  cursor: pointer;
}

input {
  font-weight: bold;
}

button:not(.delete, .lesson-button) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 10rem;
  background-color: #ffdc62;
  color: #282E3E;
  border: 3px solid #ffdc62;
  font-size: 1rem;
  font-weight: bold;
}

button:hover:not(.delete, .lesson-button) {
  background-color: #3ccfcf;
  border-color: #3ccfcf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 1.8rem;
  color: #f1f1f1;
}

.logo__icon:hover {
  color: #ffdc62;
}

.logo__brand {
  color: #f1f1f1;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button.invert-colors {
  background-color: #3ccfcf !important;
  border-color: #3ccfcf !important;
}

button.invert-colors:hover {
  background-color: #ffdc62 !important;
  border-color: #ffdc62 !important;
}

.contact-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2.5rem;
  bottom: 2.5rem;
  background: #282E3E;
  color: #3ccfcf;
  border-radius: 360px;
  padding: 10px;
}

.contact-icon:hover {
  background: #363d53;
  cursor: pointer;
}

.contact-info {
  position: fixed;
  right: 9rem;
  bottom: 2.5rem;
  background: #282E3E;
  border-radius: 4px;
  padding: 1.5rem;
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.contact-info h5 {
  font-size: 1rem;
  color: #ffdc62;
  min-width: 14rem;
}

.contact-info h6 {
  font-size: 1.1rem;
  color: #f1f1f1;
  margin-bottom: 1.2rem;
  text-align: center;
  min-width: 14rem;
}

.contact-info h6:last-of-type {
  margin-bottom: 0;
}

.contact-info h6 a {
  color: #ffdc62;
}

.donate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate h1 {
  color: #ffdc62;
  font-size: 1.8rem;
}

.donate h3 {
  margin: 0.4rem 0 1.6rem;
  font-size: 1.1rem;
}

.donate h4 {
  color: #3ccfcf;
  font-size: 1.3rem;
}

.donate h4 span {
  color: #ffdc62;
}

.donate a {
  margin-top: 1rem;
}

.lightmode {
  background-color: #f1f1f1;
}

.lightmode .lang-choices .lang-choice {
  color: #13141B;
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #13141B;
}

.lightmode .questions h4 {
  color: #13141B;
}

.lightmode .flashcards .flashcard {
  background: #d4d4d4;
}

.lightmode .flashcards .flashcard input {
  color: #13141B;
}

.lightmode .flashcards .flashcard input:focus {
  border-color: #282E3E;
}

.lightmode button {
  color: #d4d4d4;
}

.lightmode .logo__icon {
  color: #13141B;
}

.lightmode .logo__brand {
  color: #13141B;
}

.lightmode h1 {
  color: #13141B;
}

.lightmode h2 {
  color: #13141B;
}

.lightmode h3 {
  color: #13141B;
}

.lightmode h4,
.lightmode h5,
.lightmode h6 {
  color: #282E3E;
}

.lightmode label {
  color: #13141B;
}

.lightmode input,
.lightmode textarea {
  color: #d4d4d4;
}

.lightmode p {
  color: #353535;
}

.lightmode header .lang-menu {
  background: #e0e0e0;
}

.lightmode header .lang-menu__option h6 {
  color: #13141B;
}

.lightmode header .lang-menu__option h6:hover {
  color: #282E3E;
}

.lightmode header .lang-menu__option__dropdown-icon {
  color: #13141B;
}

.lightmode header .lang-menu__option__dropdown-icon:hover {
  color: #282E3E;
}

.lightmode header nav > a svg {
  color: #13141B;
}

.lightmode header nav > a:hover svg {
  color: #3ccfcf;
}

.lightmode header .user-menu {
  background: #e0e0e0;
}

.lightmode header .user-menu a {
  color: #13141B;
}

.lightmode header .user-menu svg:hover {
  color: #282E3E;
}

.lightmode .lang-choices .lang-choice {
  color: #13141B;
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .lang-choices .lang-choice:hover {
  -webkit-box-shadow: #505357 0px 5px 3px;
          box-shadow: #505357 0px 5px 3px;
}

.lightmode .lang-choices .lang-choice div h5 {
  color: #13141B;
}

.lightmode .notifications {
  background: #e0e0e0;
}

.lightmode .notifications .notification {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
}

.lightmode .notifications .notification button.delete svg {
  background: #13141B;
  fill: #D71C38;
}

.lightmode .user-badges .user-badge svg + p {
  background: #d4d4d4;
}

.lightmode .user-badges .user-badge.not-acquired svg {
  color: #505357;
}

.lightmode .user-badges .search-form select {
  background: #13141B;
  color: #f1f1f1;
}

.lightmode .user-darker-dark-color {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #13141B;
}

.lightmode .user-test {
  background: #d4d4d4;
  -webkit-box-shadow: #505357 0px 3px 1px;
          box-shadow: #505357 0px 3px 1px;
  color: #13141B;
}

.lightmode .user-test h5 {
  color: #ffdc62;
}

body {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errors-list {
  color: #f1f1f1;
  background: #D71C38;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

h4 {
  margin-top: 0.4rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  margin: 1.6rem 0 0.4rem;
}

form input {
  padding: 0.8rem;
  width: 15rem;
  -webkit-box-shadow: #282E3E 0px 5px 3px;
          box-shadow: #282E3E 0px 5px 3px;
}

form input:focus {
  -webkit-box-shadow: #282E3E 0px 10px 3px;
          box-shadow: #282E3E 0px 10px 3px;
}
/*# sourceMappingURL=loginAndRegister.css.map */